*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}   

.header-sec{
    display: flex;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;

}


.half-div1{
    width: 30%;
    padding-left: 5%;
    padding-right: 15%;
    padding-top: 5%;
}

.wlc-h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.wlc-h2{
    font-size: 38px;
    margin-bottom: 30px;
}

.pp-orange{
    color: orange;
}

.wlc-h4{
    margin-bottom: 15px;
}

.wlc-p{
    text-align: justify;
}

.hire-btn{
    background-image: linear-gradient(rgb(245, 56, 56),rgba(239, 129, 12, 0.947));
    padding: 10px 30px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.half-div2{
    height: auto;
    width: 70%;
    background-image: url(img/my-bg.png);
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
}


.half-div2 img{
    height: 100px;
    width: 80px;
}

